<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<h1>Jack Johnson Albums</h1>
	<div class="row">
		<div class="col-md-6">
			<div id="albums"></div>
		</div>
		<div class="col-md-6">
			<ol id="tracks"></ol>
		</div>
	</div>
</div>

<script type="text/x-handlebars" id="album-template">
	<a href="#" title="{{collectionName}}" data-collection-id="{{collectionId}}">
		<img src="{{artworkUrl100}}" alt="{{collectionName}}">
	</a>
</script>

<script type="text/x-handlebars" id="tracks-template">
	{{#each tracks}}
		{{#if trackName}}
			<li>
				{{trackName}}
			</li>
		{{/if}}
	{{/each}}
</script>

<script src="jquery-2.1.4.js"></script>
<script src="handlebars-v4.0.2.js"></script>
<script src="main.js"></script>

</body>
</html>
